*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #0c1421 20%, #35568f 80%, #0c1421 20%, #35568f 80%);
  background-size: 400% 400%;
  animation: bgFlow 20s ease-in-out infinite;
}

@keyframes bgFlow{
  0%{
    background-position: 50% 0;
  }

  50%{
    background-position: 100% 0;
  }

  100%{
    background-position: 0 50%;
  }
}


/* 
body {
  margin: 0; /* Remove default body margins /
  height: 100vh; /* Make body take up full viewport height *
  overflow: hidden; /* Hide any scrollbars /
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #0c1421, #35568f, #0c1421, #35568f); /* Initial gradient /
  background-size: 400% 400%; /* Make the gradient larger than the container /
  animation: gradientAnimation 15s ease infinite; /* Apply animation /
}

h1{
    color: white;
    font-size: 5rem;
    z-index: 10;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start at top-left /
  }
  50% {
    background-position: 100% 50%; /* Move to bottom-right /
  }
  100% {
    background-position: 0% 50%; /* Return to top-left /
  }
} */
