* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  /* cursor: none; */
  /* outline: 2px solid white; */
}

body {
  /* height: 100dvh; */
  background: #0c1421;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

a {
  color: #74a0ec;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #3379f2;
}

.container {
  /* margin: 4rem; */
  /* height: 100dvh; */
  display: flex;
  /* outline: 2px solid white; */
}

.stickySideBar {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 1rem 0 0 2rem;
}

.stickySideBar header>h1 {
  color: #74a0ec;
  font-size: 4rem;
  font-family: "Rubik Moonrocks", sans-serif;
  animation: slideIn 3s forwards;
}
/* Animation for logo text */

@keyframes slideIn{
  0%{
    opacity: 0.3;
    margin-left: -500px;
  }

  50%{
    opacity: 0.5;
  }

  75%{
    opacity: 0.7;
  }

  100%{
    opacity: 1;
  }
}

/* End of animation */

.stickySideBar header>h3 {
  color: #D3D3D3;
  margin: 1rem 0;
}

.stickySideBar header>p {
  color: #D3D3D3;
  font-weight: 500;
}

.headers {
  display: none;
}

nav {
  width: 20%;
  margin: 4rem 0;
}

ul {
  list-style: none;
}

a li {
  margin: 2rem auto;
  padding: 0 1rem;
  color: #D3D3D3;
  border-left: 2px solid white;
  transition: padding 1s ease;
}

a li:hover {
  color: #74a0ec;
  padding: 0 2rem;
  animation: changeColor 1s infinite;
}

@keyframes changeColor {

  0%,
  100% {
    border-left-color: #d3d3d3;
  }

  50% {
    border-left-color: #74a0ec;
  }

  75% {
    border-left-color: #35568f;
  }
}

hr {
  display: inline-block;
  width: 30px;
  margin: 0 1rem 0.3rem 0;
  color: #d3d3d3;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem auto;
}

.contact img {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1.5rem;
  outline: 0.5px solid #ffffff;
  transition: transform 0.3s ease-in;
}

.contact img:hover {
  transform: scale(1.3);
}

footer span {
  display: block;
  color: #d3d3d3;
}


main {
  width: 60%;
  padding: 4rem 1rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: #d3d3d3;
  /* outline: 2px solid blue; */
  height: 100vh;
  overflow-y: auto;
}

#aboutSection {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  margin: 0 0 4rem 0;
  /* outline: 2px solid white; */
}

.headers {
  color: #dbe8ff;
  margin: 1rem 0;
}

.textContent {
  color: #c3d9ff;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0 0 2rem 0;
}

.cardLayout {
  display: flex;
}

.cardLayout .container {
  width: 50%;
  height: 0%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* outline: 2px solid blue; */
}

.cardLayout img {
  width: 100%;
}

.cardLayout .container .cardTitle {
  margin: 2.5rem 0;
  padding: 0;
}

.cardLayout .container .textContent {
  width: 100%;
}

.lang {
  display: inline;
  font-weight: 600;
}

.lang * {
  margin: 0 1rem 0 0;
}

.experienceSection {
  padding: 1rem;
  margin: 1rem auto;
  /* outline: 1px solid white; */
}

.expContainer {
  padding: 0;
  margin: 1.5rem auto;
  /* outline: 1px solid green; */
}

.expContainer>span {
  display: block;
  margin: 1rem auto;
}

#resume {
  margin: 1rem;
}

#angle-small-up {
  width: 20px;
  height: 20px;
  transform: rotate(30deg);
}

#angle-small-up:hover {
  transform: scale(1.4);
}

.techSection {
  margin: 2rem auto;
}

.techSection h2 {
  margin: 0 1rem;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem 2rem 2rem 0;
  /* outline: 2px solid white; */
}

.tech {
  margin: 0 2rem;
  transition: transform 0.5s ease-in;
}

.tech:hover {
  transform: scale(1.2);
}

.inboxMe {
  margin: 1rem;
}

button {
  width: 25%;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  background: none;
  outline: 2px solid white;
}

button:hover {
  border: none;
  /* outline: none; */
  background-color: #35568f;
}

@keyframes alert {

  0%,
  100% {
    background-color: #74a0ec;
  }

  50% {
    opacity: 0.5;
    background-color: #0c1421;
  }

  75% {
    opacity: 0.3;
    background-color: #35568f;
  }
}




/* MOBILE RESPONSIVENESS*/

@media screen and (max-width:768px) {
  * {
    padding: 0;
    margin: 0;
    /* outline: 1px solid whitesmoke; */
  }

  body {
    overflow-y: auto;
    background: #0c1421;
    height: auto;
  }

  .container {
    display: block;
  }

  .headers {
    display: block;
  }

  .stickySideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    height: 100dvh;
  }

  nav {
    margin: 1rem 0;
  }

  footer span {
    margin: 1rem auto;
  }


  main {
    width: 100%;
    color: #d3d3d3;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }

  #aboutSection {
    margin: 0;
  }

  .cardLayout {
    display: block;
    padding-bottom: 2rem;
  }

  .cardLayout .container {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

  .cardLayout .container .cardTitle {
    margin: auto;
  }

  .experienceSection {
    padding: 0;
  }

  #resume {
    margin: 0;
  }

  .techSection {
    width: 100%;
    margin: 1rem auto;
    /* outline: 1px solid whitesmoke; */
  }

  .techSection h2 {
    margin: 0;
    text-align: left;
    /* outline: 2px solid white; */
  }

  .tech {
    margin: 1rem;
    /* outline: 1px solid white; */
  }

  .inboxMe {
    margin: 0;
  }
}


@media screen and (min-width: 769px) and (max-width : 1200px) {
  * {
    padding: 0;
    margin: 0;
    /* outline: 1px solid whitesmoke; */
  }

  body {
    overflow-y: auto;
    height: auto;
    /* background: #0c1421; */
  }

  header>h1 {
    color: #35568f;
  }


  .headers {
    display: none;
  }

  .stickySideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem auto;
  }

  nav {
    margin: 1rem 0;
  }

  main {
    width: 100%;
    color: #d3d3d3;
    display: flex;
    align-items: flex-start;
    padding: 1rem auto;
    /* height: 100dvh; */
  }

  .cardLayout {
    display: block;
    padding-bottom: 2rem;
  }

  .cardLayout .container {
    width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

  .cardLayout .container .cardTitle {
    margin: auto;
  }

  #resume {
    margin: 0;
  }

  .techSection {
    width: 100%;
    margin: 1rem auto;
    /* outline: 1px solid whitesmoke; */
  }

  .techSection h2 {
    margin: 0;
    text-align: left;
    /* outline: 2px solid white; */
  }

  .tech {
    margin: 1rem;
    /* outline: 1px solid white; */
  }

  .inboxMe {
    margin: 0;
  }
}

#top {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: 0.5rem;
  color: #0c1421;
  border: 1px solid #0c1421;
  border-radius: 10px;
}